




    @media only screen and (max-width : 991px)  {
        .OOman{
            display: none;
        }
        .Oman{
            width: 50%;
            left: 30px;
        }
        .Feley{
            width: 150px;
            height: 150px;
        }
        .MOORAFY{
            display: none;
        }
        .MOAREFY{
            width: 50%;
            left: 30px;
        }
        .MISHAVAD{
            width: 150px;
            height: 150px;
        }
        .DARSAD{
            display: none;
        }
        .TTanha{
            width: 50%;
            left: 30px;
        }
        .Tanha{
            width: 150px;
            height: 150px;
        }
        .MAHSOOOLAT{
            left: 40px;
            width: 50%;
        }
        .MAHSOOLAT{
            display: none;
        }
        .KHOSHMAZE{
            width: 150px;
            height: 150px;
        }
    .FOOROOOSH{
        width: 150px;
        height: 150px;

    }
    .KHAMM{
        display: none;
    }
    .Sevom{
        left: 250px;
    }
    .Keshvar{
        width: 150px;
        height: 150px;
    }
    .ANGOUR{
        width: 150px;
        height: 150px;
    }
    .BARKHY{
        width: 150px;
        height: 150px;
    }
    .KHANE{
        width: 150px;
        height: 150px;
    }
    .LIR{
        width: 150px;
        height: 150px;
    }
    .ELAM{
        width: 150px;
        height: 150px;
    }
    .MASHAGEL{
        width: 150px;
        height: 150px;
    }
    .ROTBE{
        width: 150px;
        height: 150px;
    }
    .MOZ{
        width: 150px;
        height: 150px;
    }
    .JAVANAN{
        width: 150px;
        height: 150px;
    }
    .BAZYY{
        width: 150px;
        height: 150px;
    }
    .BAZY{
        display: none;
    }
    .HICH{
        display: none;
    }
    .HABE{
        display: none;
    }
    .AJIB{
        display: none;
    }
    .ZARFIAT{
        display: none;
    }
    .ESTANBOUL{
        display: none;
    }
    .AMAR{
        display: none;
    }
    .ZANAN{
        display: none;
    }
    .ARASS{
        display: none;
    }
    .VAGHEY{
        display: none;
    }
    .KHARJ{
        display: none;
    }
    .AVAREZ{
        width: 150px;
        height: 150px;
    }
    .VAGHEYY{
        left: 80px;
        width: 40%;
    }
    .KHARJJ{
        left: 30px;
        width: 50%;
    }
    .ROTBEAVAL{
left: 30px;
    width: 50%;
    }
    .KESHVARR{
        left:30px;
        width: 50%;
    }
    .CHESHEM{
        width: 50%;
        left: 40px;
    }
    .BARG{
        width: 150px;
        height: 150px;
    }
    .NEZARAT{
        width: 150px;
        height: 150px;
    }
    .GOM{
        display: none;
    }
    .BARGg{
        display: none;
    }
    .PAIY{
        display: none;
    }
    .BEHTARINN{
        width: 150px;
        height: 150px;
    }
    .SHOD{
        width: 150px;
        height: 150px;
    }
    .FANAVARY{
        width: 150px;
        height: 150px;
    }
    .DOLATT{
        left: 40px;
        width: 50%;
    }
        .SHOD{
            left: 30px;
            width: 50%;
        }
    .NANO{
        left: 30px;
        width: 50%;
    }
    .MMASHROOT{
        width: 150px;
        height: 150px;
    }
    .MASHROOT{
        display: none;
    }
    .BEHDASHT{
        width: 50%;
        left: 30px;
    }
    .GHEIMMAT{
        width: 150px;
        height: 150px;
    }
    .SERVIS{
        display: none;
    }
    .HHOLE{
        display: none;
    }
    .HOLE{
        width: 150px;
        height: 150px;
    }
    .KAHESH{
        left: 60px;
        width: 40%;
    }
        .YARANE{
            width: 50%;
            left: 30px;
        }
    .ARRZY{
        display: none;
    }
    .ARZY{
        width: 150px;
        height: 150px;
    }
    .HAMSAYE{
        width: 50%;
        left: 30px;
    }
        .UUBOUR{
            display: none;
        }
    .UBOUR{
        width: 150px;
        height: 150px;
    }
    .BAR{
        width: 50%;
        left: 30px;
    }
        .VAZZE{
            display: none;
        }
    .VAZE{
        width: 150px;
        height: 150px;
    }
    .AZADD{
        width: 50%;
        left: 30px;
    }
    .BAANK{
        width: 50%;
        left: 30px;
    }
    .BANKK{
        display:none;
    }
    .Bank{
        width:150px;
        height: 150px;
    }
    .SANGIN{
        width: 150px;
        height: 150px;
    }
    .SSANGGIN{
        left: 30px;
        width: 50%;
    }
    .SSANGIN{
        display: none;
    }
        .NANVA{
            display: none;
        }
    .FARASHH{
        display: none;
    }
    .MMORGH{
        display: none;
    }
    .MORGH{
        width: 150px;
        height: 150px;
    }
    .FARSH{
        width: 150px;
        height: 150px;
    }
    .FFARSH{
        left: 30px;
        width: 50%;
    }
    .GOMROK{
        width: 150px;
        height: 150px;
    }
    .ETESAL{
        width: 50%;
        left: 30px;
    }
    .MELIARD{
        left: 30px;
        width: 50%;
    }
    .BBONYAN{
        display: none;
    }
    .BONYAN{
        width: 150px;
        height: 150px;
    }
    .PYAZ{
        width: 150px;
        height: 150px;

    }
    .PIAZZ{
        left: 30px;
        width: 50%;
    }
    .PPYAZ{
        display: none;
    }
    .ZAF{
        left: 20px;
        width: 50%;
    }
    .HHADAF{
        display: none;
    }
    .NNOGTOAT{
        display: none;
    }
    .HADAF{
        width: 150px;
        height: 150px;
    }
    .GGOVE{
        left: 40px;
        width: 50%;
    }
    .Noghat{
        width: 150px;
        height: 150px;
    }
    .GGOMROK{
        width: 50%;
        left: 40px;
    }
    .TASHHIL{
        width: 50%;
        left: 40px;
    }
    .SHARG{
        display: none;
    }
    .GOVEE{
        display: none;
    }
    .ASANN{
        display: none;
    }
    .JAYGOZIN{
        left: 30px;
        width: 30%;
    }
    .GOVE{
        width: 150px;
        height: 150px;
    }
    .TASHIL{
        width: 150px;
        height: 150px;
    }
    .KALAASADERATY{
        left: 70px;
        width: 50%;
    }
    .KALASADERATY{
        display: none;
    }
    .ASLYY{
        width: 150px;
        height: 150px;
    }
    .KORRDESTAN{
        left: 70px;
        width: 40%;
    }
    .POORE{
        left: 30px;
        width: 50%;
    }
    .MOODIARAT{
        left: 60px;
        width: 40%;
    }
    .AMARR{
        left: 60px;
        width: 40%;
    }
    .LIRR{
        left: 30px;
        width: 50%;
    }
    .ZARFIATT{
        left: 30px;
        width: 50%;
    }
    .AJIBB{
        left: 20px;
        width: 50%;
    }
    .HABEE{
        left:30px;
        width: 50%;
    }
    .PPOREE{
        width: 150px;
        height: 150px;
    }
    .BARNAGHSHET{
        left: 30px;
        width: 50%;
    }
    .KHAMFOOROOSH{
        left:40px;
        width: 50%;
    }
    .POREE{
        display: none;
    }
    .KORDESTAN{
        display: none;
    }
    .AGHAZ{
        display: none;
    }
    .NAFTT{
        display: none;
    }
    .HEMAYATT{
        left:30px;
        width: 50%;
    }
    .ESLAH{
        display: none;
    }
    .EESLAH{
        width: 150px;
        height: 150px;
    }
    .SOFRE{
       top:200px;
        left:150px;
    }
    .VARdatt{
        top:100px;
        left:120px;
        width: 50%;
    }
    .VARDATt{
        top:200px;
        left:150px;
    }
    .MMenu{
        display: flex;
        color: red;
    }
    .KHORASAN{
        top:200px;
        left:150px;
    }
    .BBAZARR{
        top:100px;
        left:170px;
        width: 50%;
    }
    .BAZARr{
        top:200px;
        left:150px;
    }
    .MMASTt{
        top:100px;
        left:170px;
        width: 50%;
    }
    .TAREFE{
        width: 150px;
        height: 150px;
    }
    .TAAREFE{
        width: 50%;
        left: 30px;
    }
    .EHTEMAL{
        display: none;
    }
    .HESAB{
        display: none;
    }
    .BOODJE{
        left: 30px;
        width: 50%;
    }
    .UMUMY{
        width: 150px;
        height: 150px;
    }
    .YEK{
        display: none;
    }
    .MAHH{
        width: 50%;
        left: 30px;
    }
    .SODUR{
        width: 150px;
        height: 150px;
    }
    .LIST{
        width: 50%;
        left: 30px;
    }
    .DIGGAR{
        width: 150px;
        height: 150px;
    }
    .DIGAR{
        display: none;
    }
    .KASB{
        width: 50%;
        left: 30px;
    }
    .MMast{
        top:200px;
        left: 150px;
    }
    .MAANSOOZ{
        width: 150px;
        height: 150px;
    }
    .MANSOOZ{
        display: none;
    }
    .Mand{
        left: 50px;
        width: 50%;
    }
    .SEEE{
        left:350px;
    }
    .CHAHAROMM{
        left: 350px;
    }
    .DOVOMM{
        left: 300px;
    }
    .OZV{
        left: 30px;
        width: 50%;
    }
        .Chaharom{
            left: 300px;
        }
        .ECOO{
            display: none;
        }
        .ECO{
            width: 150px;
            height: 150px;
        }
    .SEVOMM{
        left: 300px;
    }
    .CHAHARR{
        left: 350px;
    }
    .SADERKONNADEGHAN{
        left: 60px;
        width: 50%;
    }
    .Tejaary{
        display: none;
    }
    .Farvardddin{
        width: 150px;
        height:150px;

    }

    .Niz{
        display: none;
    }
    .Tolid{
        width: 60%;
        left:0;
    }
    .Sal{
        display: none;
    }
    .Taa{
        display: none;
    }
    .Sade{

        left: 120px;
        width: 50%;
    }
    .Tojih{
        left: 50px;
        width: 50%;
        font-size: 5px;
    }
    .GHOMROKK{
        top:100px;
        left:170px;
        width: 50%;
    }
    .SOLULES{
        top:200px;
        left:150px;
    }
    .KHORMAAA{
        top:200px;
        left: 150px;
    }
    .Sooriye{

        width: 52%;
        left:20px;
    }
    .ARAGH{
        top:200px;
        left:150px;
    }
    .Tose{
        top:200px;
        left:150px;
    }
    .BB{
       display: none;
    }
    .Dam{
        font-size: 5px;
        width: 50%;
        left: 50px;
    }
    .Dash{
        display: none;
    }
    .In{
       font-size: 5px;
        width: 50%;
        left: 50px;
    }
    .BBB{
       display: none;
    }
    .SALL{
       display: none;
    }
    .Azarbayjan{

        width: 50%;
        left:40px;
    }
    .fanBazar{

        width: 50%;
        left:40px;
    }
    .ERR{
        display: none;
    }
    .ER{
       display: none;
    }
    .Hazine{
        width: 50%;
        left:40px;
    }
    .Be{
        left:200px;
        position: absolute;


    }
    .Marz{

        width: 50%;
        left: 20px;
    }
    BN{
        right: 100px;
    }
    .RTY{
        display: none;
    }
    .Kamboud{
        width: 50%;

        left:20px;
    }
    .Hozoor{
     font-size: 5px;
        width: 50%;
        left:50px;

    }
    .TY{
        display: none;
    }
    .HH{
     display: none;
    }
    .Arzany{
       font-size: 5px;
        width: 50%;
        left:80px;
    }
    .AGH{
        display: none;
    }
    .HAr{
        font-size: 5px;
        width: 50%;
        left: 50px;
    }
    .Be{
        display: none;
    }
    .Gos{
       font-size: 5px;
        left:50px;
        width: 50%;

    }
    .LIT{
        display: none;
    }
    .Naft{
       font-size: 5px;
        left:50px;
        width: 50%;
    }
    .Sader{
      display: none;
    }
    .Chin{
       font-size: 5px;
        left: 50px;
        width: 50%;
    }
    .Dalall{
       font-size: 5px;
       width: 50%;
        left:60px;
    }
    .RR{
        width: 150px;
        height: 150px;
    }
    .KAMA{
        width: 150px;
        height: 150px;
    }
    .KAM{
font-size: 5px;
        width: 50%;
        left:60px;
    }
    .ZOH{
        width: 150px;
        height: 150px;
    }
    .YAK{
        left:250px;
    }
    .Jologiry{

        width: 50%;
        left:30px;
    }
    .jsdshjs{
        width: 150px;
        height: 150px;
    }
    .kodkoas{
        display: none;
    }
    .SangAhan{

        width: 60%;

  left: 10px;

    }
    .foorooshKala{

        width: 50%;
    left:60px;
    }
    .jsajba{
        width: 150px;
        height: 150px;
    }
    .njscj{
        width: 150px;
        height: 150px;

    }
    .JKL{
        width: 150px;
        height: 150px;
    }
    .nkcsk{
        display: none;
    }
    .skasd{
        display: none;
    }
    .Sarafy{

        width: 50%;

        left:50px;
    }
    .Tejarat{
        left:40px;
        width: 50%;
    }
    .ArzSaderaty{
     width: 50%;
        left: 20px;
    }
    .jkcjk{
        width: 150px;
        height: 150px;
    }
    .ksldkl{
        width: 150px;
        height: 150px;
    }
    .kldsk{
        width: 150px;
        height: 150px;
    }
    .ksajk{
        display: none;
    }
    .klsalk{
        display: none;
    }
    .mdsc{
        display: none;
    }
    .GHF{
        width: 150px;
        height: 150px;
    }
    .Vardatt{


        width: 60%;
        left:0;
    }
    .SFSA{
        display: none;
    }
    .WWEW{
        display: none;
    }
    .WEQR{
        display: none;
    }
    .Saderattt{

        width: 50%;
        left:20px;
    }
    .Farar{

        width: 30%;
        left:120px;
    }
    .DEWWQ{
        width: 150px;
        height: 150px;
    }
    .Taraz{
      font-size: 5px;
        width: 40%;
        left:110px;
    }
    .ewqw{
        width: 150px;
        height: 150px;
    }
    .ddswe{
        display: none;
    }
    .Mamnue{

        width: 40%;
        left:100px;

    }
    .rreere{
        width: 150px;
        height: 150px;
    }
    .FGSE{
        display: none;
    }
    .Nima{
      font-size: 5px;
        left:70px;
        width: 50%;
    }
    .FSEFR{
        display: none;
    }
    .SFSE{
        width: 150px;
        height: 150px;
    }
    .Khesarat{
       font-size: 5px;
        left:50px;
        width: 50%;
    }
    .DFSDF{
        display: none;
    }
    .GFGD{
        width: 150px;
        height: 150px;
    }
    .Tamin{

        width: 50%;
        left:30px;
    }
    .Payan{
       font-size: 5px;
        width: 50%;
        left:70px;
    }
    .GDGR{
        display: none;
    }
    .GDGD{
        display: none;
    }
    .DFS{
        width: 150px;
        height: 150px;
    }
    .KJD{
        width: 150px;
        height: 150px;
    }
    .KKKK{
        width: 150px;
        height: 150px;
    }
    .MAA{
        display: none;
    }
    .Pain{
        font-size: 5px;
        left: 60px;
        width: 50%;
    }
    .GHRE{
        display: none;
    }
    .jib{
      font-size: 5px;
        width: 35%;
        left: 100px;
    }
    .SFWE{
        display: none;
    }
    .KJL{
        width: 150px;
        height: 150px;
    }
    .OLK{
        width: 150px;
        height: 150px;
    }
    .JADID{

        width: 50%;
        left:30px;
    }
    .Sarparst{
        display: none;
    }
    .EFS{
        width: 150px;
        height: 150px;
    }
    .FGDS{
        display: none;
    }
    .ArzeDolaty{
       left:10px;
        width: 60%;
        font-size: 5px;
    }
    .Astane{

        width: 50%;
        left:30px;
    }
    .AFZA{

        width: 50%;
        left:40px;
    }
    .Nati{
       font-size: 5px;
        width: 60%;
        left:20px;
    }
    .IIn{
        display: none;
    }
    .MMOA{
        display: none;
    }
    .DALAL{
        display: none;
    }
    .Kool{

        width: 50%;
        left:40px;
    }
    .Dovom{
        left: 210px;
    }
    .Do{
       display: none;
    }
    .Dal{

        left:40px;
        width: 50%;
    }
    .An{
        display: none;
    }
    .Hash{
    display: none;
    }
    .VVar{
       display: none;
    }
    .Var{

        width: 50%;
        left:40px;
    }
    .Pay{

        left: 50px;
        width: 40%;
    }
    .MO{
      display: none;
    }
    .Moh{
        width: 70%;
        left: 0;
    }
    .PPay{
   display: none;
    }
    .Gozashte{

        left:130px;
        width: 50%;
    }

    .KH{
        display: none;
    }
    .KAR{
        display: none;
    }
    .javab{

        left: 30px;
        width: 50%;
    }
    .J{
        display: none;
    }
    .Ta{
       display: none;
    }
    .dakel{

        width:50%;
        left:20px;


    }
.Mastt{
    font-size: 5px;
    left: 50px;
    width: 50%;
}
.Gar{
font-size: 5px;
    width: 50%;
    left:70px;
}
    .ASAR{
     font-size: 5px;
        left:50px;
        width: 50%;
    }
    .Ras{
       display: none;
    }
    .Sad{
        font-size: 5px;
        left: 50px;
        width: 50%;
    }
    .Baksh{
display: none;

    }
    .Arze{
      display: none;
    }

    .Nama{
       display: none;


    }
    .Go{
   font-size: 5px;
        width: 50%;
        left: 70px;
    }
    .AKAs{
        position: absolute;
        top:90px;
    }
    .Aks{
        padding:980px;

        max-width:500px;
        direction:ltr;
        display: none;

    }
    .Aks p{
        position: absolute;
        top:150px;
        font-size:15px;
        display: none;


    }

    .KKhomar{
        position: absolute;
        left:450px;
        top:90px;
        display: none;
    }
    .Khomar{
        height: 150px;
        width: 150px;
        position: absolute;

    }
    .AAks {
        padding:100px;

        max-width:2000px;
        direction:rtl;
        display: none;
    }
    .AAks p{
        position: absolute;
        top:360px;
        font-size:15px;
        display: none;
    }
    .kashty{
      width: 150px;
        height: 150px;
    }
.Mast{
    width: 150px;
    height: 150px;
}
.Anbar{
    width: 150px;
    height: 150px;
}
.krovat{
    width: 150px;
    height: 150px;
}
.Sabz{
    width: 150px;
    height: 150px;
}
    .dollar{
        width: 150px;
        height: 150px;
    }
.Isna{
    width: 150px;
    height: 150px;
}
    .Khorma{
        width: 150px;
        height: 150px;
    }
    .Charkh{
        width: 150px;
        height: 150px;
    }
    .Kar{
        width: 150px;
        height: 190px;
    }
    .Arz{
        width: 150px;
        height: 150px;
    }
    .GHIR{
        left: 20px;
        width: 50%;
    }
    .ASAMY{
        left: 20px;
        width: 50%;
    }
    .FFELEZ{
        display: none;
    }
    .Farangy{
        width: 150px;
        height: 150px;
    }
    .FELEZ{
        width: 150px;
        height: 150px;
    }
    .RRIZESH{
        display: none;
    }
    .MOBBEL{
        display: none;
    }
    .MOBEL{
        width: 50%;
        left: 30px;
    }
    .GHATARR{
        width: 150px;
        height: 150px;
    }
    .RIZESH{
        width: 150px;
        height: 150px;
    }
    .chin{
        width: 150px;
        height: 150px;
    }
    .parcham{
        width: 150px;
        height: 150px;
    }
    .KKAFESH{
        width: 50%;
        left: 30px;
    }
    .AFGHAN{
        display: none;
    }
    .KAFESH{
        width: 150px;
        height: 150px;
    }
    .MAAH{
        width: 50%;
        left: 30px;
    }
    .DARR{
        display: none;
    }
        .MAHE{
            width:150px;
            height: 150px;
        }
        .BAASTAR{
        left: 30px;
        width: 40%;
    }
    .MOTNAVE{
        display: none;
    }
    .MAZANDARAN{
        left: 30px;
        width: 50%;

    }
    .BASTAR{
        width: 150px;
        height: 150px;
    }
        .TOJAR{
            width: 150px;
            height: 150px;
        }
        .TOJJAR{
            display: none;
        }
    .SANAT{
        left: 30px;
        width: 50%;

    }
    .SHAHRAK{
        width: 150px;
        height: 150px;
    }
    .SHODE{
        display: none;
    }
    .Mahal{
        left: 30px;
        width: 50%;
    }
    .SHIVE{
        display: none;
    }
    .AAnjam{
        display: none;
    }
.Anjam{
    width: 150px;
    height: 150px;
}
   .SADerr{
       width: 150px;
       height: 150px;
   }
   .NAMANAD{
        width: 50%;
        left: 30px;
    }
    .RUZE{
        width: 50%;
        left: 30px;
    }
    .DOBARE{
        display: none;
    }
    .morgh{
        width: 150px;
        height: 150px;
    }
    .m{
        width: 150px;
        height: 150px;
    }
    .sofreh{
        width: 150px;
        height: 150px;
    }
.Eynak{
    width: 150px;
    height: 150px;
}
.goje{
    width: 150px;
    height: 150px;
}
.Kale{
    width: 150px;
    height: 150px;
}
.Bad{
    width: 150px;
    height: 150px;
}
.Dolar{
    width: 150px;
    height: 150px;
}
.pave{
    width: 150px;
    height: 150px;
}
.zen{
    width: 150px;
    height: 150px;
}
    .Ghomrok{
        width: 150px;
        height: 150px;
    }
    .akas{
        width: 150px;
        height: 150px;
    }
    .kor{
        width: 150px;
        height: 150px;
    }
    .cama{
        width: 150px;
        height: 150px;
    }
    .deh{
        width: 150px;
        height: 150px;
    }
.America{
    width: 150px;
    height: 150px;
}
    .Ghodrat{
        max-width: 150px;
        height: 150px;
    }
}


.KKhomar{
    position: absolute;
    left:320px;
    top:90px;
}
.KKKhomar{
    position: absolute;
    left:1000px;
    top:300px;
}

.AAAks{
    position: absolute;
    left:620px;
    top:300px;
}
.AAks {
    padding:980px;

    max-width:2000px;
    direction:rtl;
}
.AAks p{
    position: absolute;
    top:360px;
    font-size:15px;
}