@media only screen and (max-width : 991px)  {
    .DATA{
        width: 150px;
        height: 150px;
    }

    .DATATWO{
        display: none;
    }

    .DATAONE{
        left: 30px;
        width: 50%;
    }
    .MMenu{
        display: flex;
        color: red;
    }
    .YAK{
        left:250px;
    }
    .SEVOMM{
        left: 300px;
    }
    .CHAHARR{
        left: 350px;
    }
    .DOVOMM{
        left: 300px;
    }
    .CHAHAROMM{
        left: 350px;
    }
    .SEEE{
        left:350px;
    }
}



