
@media (max-width: 991px) {
}
.Telegram{
    width:30px;
    height:30px;
    position:absolute;
    left:1300px;
    top:10px;
    cursor: pointer;
}
.Instagram{
    width:30px;
    height:30px;
    position:absolute;
    left:1250px;
    top:10px;
    cursor: pointer;
}

